{% extends "pages/base.html" %}

{% block title %} My Contact {% endblock %}

{% block headbox %} Contact {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="container-content">
            <p>Email: <a href="mailto:leducphuclong@gmail.com" class="link link-email">leducphuclong@gmail.com</a></p>
            <p>SĐT: <a href="tel:0914167544" class="link">091-416-7544</a></p>
            <p>Facebook: <a href="https://www.facebook.com/phuclong.leduc/" class="link"> Lê Đức Phúc Long</a></p>
            <p>Zalo: <a href="http://zaloapp.com/qr/p/1b28wugtumsc2" class="link">0914167544</a></p>
        </div>
    </div>
{% endblock %}